
/* css */

h1{
  text-align: center;
}

p{
  text-align: center;
  font-size: 20px;
}

address{
  text-align: center;
  font-size: 20px;
}

/* the following are portrait elements */
#portrait{
  width: 600px;
  height:700px;
  position: relative;
  margin: auto;
}

div.face {
  position: absolute;
  width: 357.5px;
  height: 475px;
  left: 174px;
  top: 242.5px;
  background: #F3BBAD;
}

div.left-eye {
  position: absolute;
  width: 109px;
  height: 113.5px;
  left: 216px;
  top: 380px;
  background: #FFFFFF;
}

div.right-eye {
  position: absolute;
  width: 146.5px;
  height: 67px;
  left: 380px;
  top: 388.5px;
  background: #FFFFFF;
}

div.nose{
  position: absolute;
  width: 73px;
  height: 170.5px;
  left: 329.5px;
  top: 363px;
  background: #3E2119;
}

div.upperlip{
  position: absolute;
  width: 165.5px;
  height: 26.5px;
  left: 302.5px;
  top: 562px;
  background: #A04F43;
}

div.lowerlip{
  position: absolute;
  width: 176px;
  height: 43.5px;
  left: 277.5px;
  top: 595.5px;
  background: #A04F43;
}

div.hair-1{
  position: absolute;
  width: 184.5px;
  height: 125.5px;
  left: 261.5px;
  top: 117px;

  background: #000000;
}

div.hair-2{
  position: absolute;
  width: 114px;
  height: 145px;
  left: 437px;
  top: 117px;
  background: #000000;
}

div.hair-3{
  position: absolute;
  width: 105px;
  height: 202px;
  left: 494px;
  top: 201.5px;
  background: #000000;
}

div.hair-4{
  position: absolute;
  width: 178.5px;
  height: 98px;
  left: 191.5px;
  top: 83.5px;
  background: #000000;
}

div.hair-5{
  position: absolute;
  width: 103.5px;
  height: 97.5px;
  left: 161px;
  top: 164.5px;
  background: #000000;
}

div.hair-6{
  position: absolute;
  width: 70.5px;
  height: 216.5px;
  left: 127px;
  top: 220px;
  background: #000000;
}

div.left-pupil{
  position: absolute;
  width: 23px;
  height: 17.5px;
  left: 427px;
  top: 403.5px;
  background: #3E2119;
}

div.right-pupil{
  position: absolute;
  width: 23px;
  height: 17.5px;
  left: 268.5px;
  top: 408.5px;
  background: #3E2119;
}

div.left-ear{
  position: absolute;
  width: 83.5px;
  height: 63.5px;
  left: 114px;
  top: 436.5px;
  background: #6C2D1E;
}

div.right-ear{
  position: absolute;
  width: 93px;
  height: 140px;
  left: 518px;
  top: 422px;
  background: #6C2D1E;
}
